.homepageContainer {
  min-height: 100%;
  /*background-color: #e8ebf2;*/
  height: 88vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  height: 60vh;
  width: 80vw;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.content-left {
  min-height: 15em;
  min-width: 15em;
  border-radius: 50%;
  border: 0.5em solid #f6f0f1;

  background-image: url("./profile.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 2vw;
  margin-right: 5vw;
}

.content-right {
  font-size: 2.8em;
  font-weight: bold;
  line-height: 1.4em;
  margin-right: 5vw;
}

/* Responsive Design*/
@media (max-width: 1441px) {
  .content-right {
    font-size: 2.4em;
  }
}

@media (max-width: 800px) {
  .content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
  }
  .content-left {
    margin-bottom: 5vh;
  }
  .content-right {
    text-align: center;
    font-size: 2em;
  }
}

@media only screen and (max-width: 1440px) and (-webkit-min-device-pixel-ratio: 2) {
  .content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
  }
  .content-left {
    margin-top: 3vh;
    margin-bottom: 3vh;
    min-height: 10em;
    min-width: 10em;
    margin-left: 0px;
    margin-right: 0px;
  }
  .content-right {
    text-align: center;
    font-size: 1.6em;
    margin: 0px;
  }
}
