.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arvo&display=swap");

/* Start here */
* {
  margin: 0;
  padding: 0;
  font-family: "Arvo";
}

.navBar {
  /*background-color: #ebf2e8;*/
  background-color: #f6f0f1;
  height: 12vh;
  padding-right: 4vw;
  padding-left: 4vw;

  display: flex;
  align-items: center;
  justify-content: space-between;

  font-weight: bold;
  color: black;
}

.navBar-links {
  display: flex;
  align-items: center;
}

.navBar-li {
  list-style-type: none;
  padding: 1vh;
  font-size: 2.2em;
}

.navLinks {
  text-decoration: none;
  list-style-type: none;
}

.navLinks:hover {
  text-decoration: underline;
}

.navLinks:visited {
  color: black;
}

.title {
}

.container {
  min-height: 100vh;
  min-width: 100vw;

  display: flex;
  flex-direction: column;
  align-items: stretch;
}

/* Responsive Design*/
@media (max-width: 800px) {
  .title {
    display: none;
  }
  .navBar {
    justify-content: center;
  }
}

@media only screen and (max-width: 800px) and (-webkit-min-device-pixel-ratio: 2) {
  .navBar-li {
    font-size: 1.4em;
  }
}
